<%= form_for(ticket) do |f| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :ticket_status %>
    <%= f.select(:ticket_status, Ticket.ticket_statuses.keys.map {|stat| [stat.titleize,stat]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
