<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticket status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%# <% full_sanitizer = Rails::Html::FullSanitizer.new %> %>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= sanitize(ticket.name) %></td>
        <td><%= ticket.ticket_status %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
