<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= sanitize(@ticket.name) %>
</p>

<p>
  <strong>Ticket status:</strong>
  <%= @ticket.ticket_status %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
