<!DOCTYPE html>
<html>
  <head>
    <title>CybersecurityMoocP1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href='/index?url=http://cnn.com'>XSS 1</a>
    <a href='/output?text=YOURTEXT'>XSS 2</a>
    <a href='/output?text=<a href=xxxxx>xxxx</a>'</a>XSS 3</a>
    <a href='/tickets'>To your tickets</a>
    <a href='/openfile?file=/etc/passwd'>file inclusion</a>


    <%= yield %>
  </body>
</html>
